@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Merriweather&family=Noto+Serif&family=Source+Serif+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

/*! media queries  */
@media only screen and (max-width: 576px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

/* !navbar  */
.nav1 ul {
  display: flex;
  list-style: none;
  margin-top: 1.2rem;
}
.nav1 ul li {
}
.nav1 ul li a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-family: "Source Serif Pro", serif;
  font-size: 1.8rem;
  padding: 2rem 0;
}

.nav1 ul li a:hover {
  color: black;
  border-bottom: 0.2rem solid black;
}
/* !Home section code  */
.home-text h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 5rem;
  letter-spacing: 0.1rem;
}
.home-text p {
  letter-spacing: 0.3rem;
  font-size: 2rem;
}
