@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Merriweather&family=Noto+Serif&family=Source+Serif+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

/*! media queries  */
@media only screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .logo {
    width: 25rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}
